<h1 class="text-center">General info</h1>
<div class="d-flex mt-3">
    <div>
        <h2>Model View Controller (MVC)</h2>
        <p>
            MVC is a design pattern used to decouple user-interface (view), data (model), and application logic (controller). This pattern helps to achieve separation of concerns.
            Using the MVC pattern for websites, requests are routed to a Controller that is responsible for working with the Model to perform actions and/or retrieve data. The Controller chooses the View to display and provides it with the Model. The View renders the final page, based on the data in the Model.
        </p>
    </div>
    <img width="500" src="https://dotnet.microsoft.com/static/images/illustrations/swimlane-mvc-scenario.svg" />
</div>