<h1 class="text-center">Controller</h1>
<div class="d-flex mt-3">
    <div>
        <h2>Contollers</h2>
        <p>
            Simply route requests to controller actions, implemented as normal C# methods. Data from the request path, query string, and request body are automatically bound to method parameters.
        </p>
    </div>
    <img width="500" src="https://f4n3x6c5.stackpathcdn.com/article/controllers-in-asp-net-mvc-application/Images/Controllers%20In%20ASP.NET%20MVC%20Application7.png" alt="pic" />
</div>