<h1 class="text-center">Model</h1>
<div class="d-flex mt-3">
    <div>
        <h2>Models & data</h2>
        <p>
            Create clean model classes and easily bind them to your database. Declaratively define validation rules, using C# attributes, which are applied on the client and server.
            <br />
            <br />
            ASP.NET supports many database engines including SQLite, SQL Server, MySQL, PostgreSQL, DB2 and more, as well as non-relational stores such as MongoDB, Redis, and Azure Cosmos DB.
        </p>
    </div>
    <img width="500" src="https://dotnet.microsoft.com/static/images/illustrations/swimlane-model-view-controller.svg?v=CzUv-GDiU6YsHcGrR3M_-rs-39bc2dpjl22uAT5Br2Q" alt="pic"/>
</div>