<h1 class="text-center">View</h1>
<div class="d-flex mt-3">
    <div>
        <h2>Views with Razor</h2>
        <p>
            The Razor syntax provides a simple, clean, and lightweight way to render HTML content based on your view. Razor lets you render a page using C#, producing fully HTML5 compliant web pages.
        </p>
    </div>
    <img width="500" src="https://dotnet.microsoft.com/static/images/screenshot-razor-editor-vs.png" alt="pic" />
</div>